@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<h1 class="text-center">@ViewData["Title"]</h1>
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-4">
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<p></p>
					<p></p>
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<label asp-for="Input.Email">Email</label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.Password">Password</label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.ConfirmPassword">Confirm Password</label>
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #d8c269">Register</button>
				</form>
			</div>
		</div>

		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md-4">
				<section>
					<hr />
					@{
						if ((Model.ExternalLogins?.Count ?? 0) == 0)
						{
							<div>
								<p>
									There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
										article
										about setting up this ASP.NET application to support logging in via external services
									</a>.
								</p>
							</div>
						}
						else
						{
							<div style="text-align: center;">
								<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
									<div>
										<p>
											@foreach (var provider in Model.ExternalLogins!)
											{
												<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="background-color: #d8c269">@provider.DisplayName</button>
											}
										</p>
									</div>
								</form>
							</div>
						}
					}
				</section>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
