@model ContactViewModel
@{
	ViewData["Title"] = "Contacts";
}

<div class="container">
	<div class="site-content-warp" style="padding-left: 0">
		<div class="page-section contact-page">
			<div class="contact-section">
				<div class="row" style="justify-content:center">
					<div class="col-xl-6">
						<div class="contact-text-warp" style="justify-content:center">
							<div class="contact-text" style="padding-top:10px; margin-bottom:30px;">
								<h2 style="font-family:'Playfair Display'; font-size: 50px;">GET IN TOUCH</h2>
								<p style="text-align: justify;">
									Hey Plant Enthusiasts! 🌿
									<br />
									We're always on the lookout for new and interesting plants to add to our collection, and we need your help!
									<br />
									Do you have a favorite plant that you'd love to see featured?
									<br />
									Let us know by dropping us a message!
								</p>
							</div>
							<form asp-action="SendMessage" asp-controller="ContactsController" method="post">
								<div class="contact-form">
									<div class="row">
										<div class="col-lg-6">
											<span asp-validation-for="@Model.Name" class="text-danger"></span>
											<input asp-for="@Model.Name" class="form-control" placeholder="Name" />
										</div>
										<div class="col-lg-6">
											<span asp-validation-for="@Model.Email" class="text-danger"></span>
											<input asp-for="@Model.Email" class="form-control" placeholder="E-mail" />
										</div>
										<div class="col-lg-12">
											<span asp-validation-for="@Model.Subject" class="text-danger"></span>
											<input asp-for="@Model.Subject" class="form-control" placeholder="Subject" />
											<span asp-validation-for="@Model.Message" class="text-danger"></span>
											<textarea class="form-control" asp-for="@Model.Message" placeholder="Message"></textarea>
										</div>
										<div class="col-lg-12" style="display: flex; justify-content: center;">
											<button asp-action="SendMessage" asp-controller="Contacts" class="site-btn">send message <img src="/img/icons/arrow-right.png" alt=""></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
