@model IEnumerable<CommentViewModel>
@{
	ViewData["Title"] = "Comments";
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Comments</h5>
				<input type="button" value="x" onclick="window.location='@Url.Action("Explore", "Plant")'" style="background-color: transparent; margin-left:20px" />
			</div>
			<div class="modal-body">
				<ul class="comments-list">
					@foreach (var comment in Model)
					{
						<li>
							<div class="blog-avator">
								<img src=@comment.UserPictureUrl alt="/img/icons/user-avatar.png">
							</div>
							<div class="comment-text">
								<h6>@comment.UserId</h6>
								@if (comment.UpdatedOn != null)
								{
									<span>@comment.UpdatedOn</span>
								}
								else
								{
									<span>@comment.CreatedOn</span>
								}
								<p>@comment.Content</p>
								<a href="#">Reply</a>
							</div>
						</li>
					}
				</ul>
			</div>
			<div class="modal-footer">
				<form class="contact-form">
					<div class="col-lg-12" style="font-family:'Playfair Display';">
						<textarea style="margin-bottom:0" placeholder="Comment"></textarea>
						<button class="site-btn">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$('#myModal').modal('show');
	</script>
}
