@model PlantEditOrAddViewModel

@{
	ViewData["Title"] = "Add Plant";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section" style="padding-top: 15px">
		<div class="row">
			<h1 class="text-center" style="font-family:'Playfair Display';">@ViewBag.Title</h1>
			<p></p>
			<p></p>
			<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
				<form asp-action="Add" method="post">
					<div class="mb-3">
						<label asp-for="Name"><em>PLANT NAME</em></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="ScientificName"><em>SCIENTIFIC NAME</em></label>
						<input asp-for="ScientificName" class="form-control" />
						<span asp-validation-for="ScientificName" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label for="difficulty"><em>DIFFICULTY</em>:</label>
						<select asp-for="Difficulty" class="form-select">
							@foreach (Difficulty value in Enum.GetValues(typeof(Difficulty)))
							{
								<option value="@value">@value.GetDisplayName()</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label for="lifestyle"><em>LIFESTYLE</em>:</label>
						<select asp-for="@Model.Lifestyle" class="form-select">
							@foreach (Lifestyle value in Enum.GetValues(typeof(Lifestyle)))
							{
								<option value="@value">@value.GetDisplayName()</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label for="humidity"><em>HUMIDITY</em>:</label>
						<select asp-for="Humidity" class="form-select">
							@foreach (Humidity value in Enum.GetValues(typeof(Humidity)))
							{
								<option value="@value">@value.GetDisplayName()</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label asp-for="Outdoor"><em>OUTDOOR</em></label>
						<select asp-for="Outdoor" class="form-select">
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
						<span asp-validation-for="IsTrending" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="KidSafe"><em>KID SAFE</em></label>
						<select asp-for="KidSafe" class="form-select">
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
						<span asp-validation-for="IsTrending" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="IsTrending"><em>IS TRENDING</em></label>
						<select asp-for="IsTrending" class="form-select">
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
						<span asp-validation-for="IsTrending" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Description"><em>DESCRIPTION</em></label>
						<textarea asp-for="Description" class="form-control" rows="5"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="PetIds"><em>SELECT ZERO OR MULTIPLE:</em></label>
						<select asp-for="PetIds" class="form-control" multiple>
							@foreach (var animal in Model.Pets)
							{
								<option value="@animal.Id">@animal.Name</option>
							}
						</select>
						<span asp-validation-for="PetIds" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<input class="btn mb-2 w-100 p-3 fw-bold" type="submit" style="background-color: #d8c269" value="CREATE 1/2" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

