@model PlantEditOrAddViewModel

@{
	ViewData["Title"] = "Edit Plant";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section" style="padding-top: 15px">
		<div class="row">
			<h1 class="text-center" style="font-family:'Playfair Display';">@ViewBag.Title</h1>
			<p></p>
			<p></p>
			<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
				<form asp-action="Edit" method="post">
					<div class="mb-3">
						<label asp-for="@Model.Name" class="form-label-add-edit"><em>PLANT NAME</em></label>
						<input asp-for="@Model.Name" class="form-control" />
						<span asp-validation-for="@Model.Name" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.ScientificName" class="form-label-add-edit"><em>SCIENTIFIC NAME</em></label>
						<input asp-for="@Model.ScientificName" class="form-control" />
						<span asp-validation-for="@Model.ScientificName" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label for="difficulty"><em>DIFFICULTY</em>:</label>
						<select asp-for="@Model.Difficulty" class="form-select">
							@foreach (Difficulty value in Enum.GetValues(typeof(Difficulty)))
							{
								<option value="@value">@value</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label for="lifestyle"><em>LIFESTYLE</em>:</label>
						<select asp-for="@Model.Lifestyle" class="form-select">
							@foreach (Lifestyle value in Enum.GetValues(typeof(Lifestyle)))
							{
								<option value="@value">@value</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label for="humidity"><em>HUMIDITY</em>:</label>
						<select asp-for="@Model.Humidity" class="form-select">
							@foreach (Humidity value in Enum.GetValues(typeof(Humidity)))
							{
								<option value="@value">@value</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.Outdoor" class="form-label-add-edit"><em>OUTDOOR</em></label>
						<select asp-for="@Model.Outdoor" class="form-select">
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
						<span asp-validation-for="@Model.IsTrending" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.KidSafe" class="form-label-add-edit"><em>KID SAFE</em></label>
						<select asp-for="@Model.KidSafe" class="form-select">
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
						<span asp-validation-for="@Model.IsTrending" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.IsTrending" class="form-label-add-edit"><em>IS TRENDING</em></label>
						<select asp-for="@Model.IsTrending" class="form-select">
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
						<span asp-validation-for="@Model.IsTrending" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Description"><em>DESCRIPTION</em></label>
						<textarea asp-for="Description" class="form-control" rows="5"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="PetIds"><em>PETS:</em></label>
						<select asp-for="PetIds" class="form-control" multiple>
							@foreach (var animal in Model.Pets)
							{
								bool isSelected = false;

								@foreach (var item in Model.PetIds)
								{
									if (item == animal.Id)
									{
										<option value="@animal.Id" selected="@animal">@animal.Name</option>
										isSelected = true;
									}
								}
								if (!isSelected)
								{
									<option value="@animal.Id">@animal.Name</option>
								}
							}
						</select>
						<span asp-validation-for="PetIds" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<input class="btn mb-2 w-100 p-3 fw-bold" type="submit" style="background-color: #d8c269" value="SAVE" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

