@model PlantsAllViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}
@{
	ViewData["Title"] = "Explore Plant";
}

<div class="container">
	<div class="site-content-warp" style="padding-left: 0; padding-bottom: 10px; justify-content:">
		<div class="container">
			<div class="row">
				<div class="search-bar" style="padding-bottom: 15px; padding-top: 15px;">
					<div class="row">
						<div class="col-md-3">
							<label asp-for="KidSafe"><em>KID SAFE</em></label>
							<select asp-for="KidSafe" class="form-select">
								<option value="true">True</option>
								<option value="false">False</option>
							</select>
						</div>
						<div class="col-md-3">
							<label for="difficulty"><em>DIFFICULTY</em>:</label>
							<select asp-for="Difficulty" class="form-select">
								@foreach (Difficulty value in Enum.GetValues(typeof(Difficulty)))
								{
									<option value="@value">@value.GetDisplayName()</option>
								}
							</select>
						</div>
						<div class="col-md-3">
							<label for="lifestyle"><em>LIFESTYLE</em>:</label>
							<select asp-for="@Model.Lifestyle" class="form-select">
								@foreach (Lifestyle value in Enum.GetValues(typeof(Lifestyle)))
								{
									<option value="@value">@value.GetDisplayName()</option>
								}
							</select>
						</div>
						<div class="col-md-3">
							<label asp-for="PetIds"><em>SELECT ZERO OR MULTIPLE:</em></label>
							<select asp-for="PetIds" class="form-control" multiple>
								@foreach (var animal in Model.Pets)
								{
									<option value="@animal.Id">@animal.Name</option>
								}
							</select>
							<span asp-validation-for="PetIds" class="text-danger"></span>
						</div>
					</div>
					<p></p>
					<div class="row no-gutters justify-content">
						<div class="col-12 col-sm-6 col-md-8">
							<form method="post">
								<input asp-for="SearchTerm" class="form-control" placeholder="Search..." />
							</form>
						</div>
						<div class="col-6 col-md-4">
							<button type="submit">Search</button>
						</div>
					</div>
			
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model.AllPlants)
			{
				<div class="col-md-4">
					<div class="portfolio-item">
						<img src="@item.ImageUrl" alt="#">
						<p></p>
						<div style="display: flex; justify-content: space-between; padding-left:30px; padding-right:30px;">
							<h5 class="text-left">@item.Name</h5>
							<div style="display: flex; justify-content: space-between;">
								@if (!User.IsInRole("Admin") && User.Identity?.IsAuthenticated == true && item.IsLiked)
								{
									<a class="favorite-btn" data-id="@item.Id"><img src="~/img/icons/heart-filled.png"></a>
								}
								else
								{
									<a class="favorite-btn" data-id="@item.Id"><img src="~/img/icons/heart-outline.png"></a>
								}
								@if (User.IsInRole("Admin"))
								{
									<a asp-controller="Plant" asp-action="Edit" asp-route-id="@item.Id"><img src="~/img/icons/edit.png"></a>
									<a asp-controller="Plant" asp-action="Delete" asp-route-id="@item.Id"><img src="~/img/icons/delete.png"></a>
								}
								<a asp-controller="Comment" asp-action="Index"><img src="~/img/icons/see-more.png"></a>
							</div>
						</div>
						<p style="padding-left:30px;">@item.ScientificName</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<partial name="_PagingPartial" />

@section scripts {
	<script>
		$(document).on('click', '.favorite-btn', function () {
			$(this).toggleClass('clicked');
			var $img = $(this).find('img');
			if ($(this).hasClass('clicked')) {
				$img.attr('src', '/img/icons/heart-filled.png');
			} else {
				$img.attr('src', '/img/icons/heart-outline.png');
			}

			var isLiked = $(this).hasClass('clicked');
			var plantName = $(this).closest('.portfolio-item').find('h5').text();
			var plantId = $(this).data("id");

			$.ajax({
				url: '@Url.Action("LikeButton", "Plant")',
				method: 'POST',
				headers: {
					"RequestVerificationToken": '@GetAntiXsrfRequestToken()'
				},
				data: {
					id: plantId,
					isLiked: isLiked
				},
				success: function (response) {
					alert(plantName + (isLiked ? " added to favorites." : " removed from favorites."));
				},
				error: function (request, status, error) {
					alert("Fail");
				}
			});
		});

		<partial name="_ValidationScriptsPartial" />

	</script>
}
