@model PlantsAllViewModelFavorites
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}
@{
	ViewData["Title"] = "Favorite Plants";
}

<div class="container">
	<div class="site-content-warp" style="padding-left: 0; padding-bottom: 10px;">
		<div>
			<div class="row">
				@if (Model.AllPlants.Any())
				{
					foreach (var item in Model.AllPlants)
					{
						<div class="col-md-4">
							<div class="portfolio-item">
								<img src="@item.ImageUrl" alt="#">
								<p></p>
								<div style="display: flex; justify-content: space-between; padding-left:30px; padding-right:30px;">
									<h5 class="text-left">@item.Name</h5>
									<div style="display: flex; justify-content: space-between;">
										@if (User.Identity?.IsAuthenticated == true && item.IsLiked)
										{
											<a class="favorite-btn clicked" data-id="@item.Id"><img src="~/img/icons/heart-filled.png"></a>
										}
										<a asp-controller="Comment" asp-action="Index" asp-route-id="@item.Id"><img src="~/img/icons/see-more.png"></a>
									</div>
								</div>
								<p style="padding-left:30px;">@item.ScientificName</p>
							</div>
						</div>
					}

					<partial name="_PagingPartial" />
				}
				else
				{
					<main style="display: flex; justify-content: center; align-items: center; height: 80vh;">
						<div>
							<h3 style="font-family:'Playfair Display';">You don't have any favorite plants added yet</h3>
						</div>
					</main>
				}
			</div>
		</div>
	</div>
</div>


@section scripts {
	<script>
		$(document).on('click', '.favorite-btn', function () {
			$(this).toggleClass('clicked');
			var $img = $(this).find('img');
			if ($(this).hasClass('clicked')) {
				$img.attr('src', '/img/icons/heart-filled.png');
			} else {
				$img.attr('src', '/img/icons/heart-outline.png');
			}

			var isLiked = $(this).hasClass('clicked');
			var plantName = $(this).closest('.portfolio-item').find('h5').text();
			var plantId = $(this).data("id");

			$.ajax({
				url: '@Url.Action("LikeButton", "Plant")',
				method: 'POST',
				headers: {
					"RequestVerificationToken": '@GetAntiXsrfRequestToken()'
				},
				data: {
					id: plantId,
					isLiked: isLiked
				},
				success: function (response) {
					alert(plantName + (isLiked ? " added to favorites." : " removed from favorites."));
				},
				error: function (request, status, error) {
					alert("Fail");
				}
			});
		});
	</script>
}
