@model FirstLoginViewModel
@{
	ViewData["Title"] = "First Time Login";
	Layout = "_BlankLayout";
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalCenterTitle" style="font-family:'Playfair Display';">
					Let's set up your profile. 🌱
				</h3>
				<input type="button" value="x" onclick="window.location='@Url.Action("Index", "Home")'" style="background-color: transparent; margin-left:20px" />
			</div>
			<div class="modal-header">
				<h6 style="font-weight: bold;">
					This will help us improve your experience.
					Ready to get started?
				</h6>
			</div>
			<div class="modal-body">
				<form asp-action="ProfileSetup" method="post" enctype="multipart/form-data">
					<div class="comments-list">
						<div class="mb-3">
							<div class="mb-3">
								<label asp-for="PetIds"><em>Do you have any pets? (select zero or multiple)</em></label>
								<select asp-for="PetIds" class="form-control" multiple>
									@foreach (var animal in Model.Pets)
									{
										<option value="@animal.Id">@animal.Name</option>
									}
								</select>
								<span asp-validation-for="PetIds" class="text-danger"></span>
							</div>
						</div>
						<div class="mb-3">
							<label asp-for="Kids"><em>Do you have kids?</em></label>
							<select asp-for="Kids" class="form-select">
								<option value="true">Yes</option>
								<option value="false">No</option>
							</select>
							<span asp-validation-for="Kids" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label for="lifestyle"><em>Choose your lifestyle</em>:</label>
							<select asp-for="@Model.Lifestyle" class="form-select">
								@foreach (Lifestyle value in Enum.GetValues(typeof(Lifestyle)))
								{
									<option value="@value">@value.GetDisplayName()</option>
								}
							</select>
						</div>
						<div class="mb-3">
							<label asp-for="RegionId"><em>Choose the region you live in</em></label>
							<select asp-for="RegionId" class="form-control">
								@foreach (var region in Model.Regions)
								{
									<option value="@region.Id">@region.Name</option>
								}
							</select>
							<span asp-validation-for="RegionId" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="ImageModel.FormFile"><em>Upload a profile picture</em></label>
							<input type="file" asp-for="ImageModel.FormFile" class="form-label" />
							<span asp-validation-for="ImageModel.FormFile" class="text-danger"></span>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-lg-12" style="font-family:'Playfair Display'; display: flex; justify-content: center;">
							<button class="site-btn">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$('#myModal').modal('show');
	</script>

	<partial name="_ValidationScriptsPartial" />
}
