@model ProfileViewModel

@{
	ViewData["Title"] = "Profile Setup";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<div class="row">
			<h1 class="text-center" style="font-family:'Playfair Display';">@ViewBag.Title</h1>
			<p></p>
			<p></p>
			<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
				<form method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label asp-for="PetIds"><em>Do you have any pets (select zero or multiple)</em></label>
						<select asp-for="PetIds" class="form-control" multiple>
							@foreach (var animal in Model.Pets)
							{
								bool isSelected = false;

								@foreach (var item in Model.PetIds)
								{
									if (item == animal.Id)
									{
										<option value="@animal.Id" selected="@animal">@animal.Name</option>
										isSelected = true;
									}
								}
								if (!isSelected)
								{
									<option value="@animal.Id">@animal.Name</option>
								}
							}
						</select>
						<span asp-validation-for="PetIds" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Kids"><em>Do you have kids?</em></label>
						<select asp-for="Kids" class="form-select">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						<span asp-validation-for="Kids" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label for="lifestyle"><em>Choose your lifestyle</em>:</label>
						<select asp-for="@Model.Lifestyle" class="form-select">
							@foreach (Lifestyle value in Enum.GetValues(typeof(Lifestyle)))
							{
								<option value="@value">@value.GetDisplayName()</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<label asp-for="RegionId"><em>Choose the region you live in</em></label>
						<select asp-for="RegionId" class="form-control">
							@foreach (var region in Model.Regions)
							{
								<option value="@region.Id">@region.Name</option>
							}
						</select>
						<span asp-validation-for="RegionId" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<span asp-validation-for="ImageModel.FormFile" class="text-danger"></span>
						<p></p>
						<label asp-for="ImageModel.FormFile"><em>Upload a profile picture</em></label>
						<p></p>
						<input type="file" asp-for="ImageModel.FormFile" class="form-label" />
					</div>
					<div class="mb-3">
						<input class="btn mb-2 w-100 p-3 fw-bold" type="submit" style="background-color: #d8c269" value="CONFIRM" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<partial name="_ValidationScriptsPartial" />
}